link-workspace-packages=true
prefer-workspace-packages=true

# coteam
#registry=https://npm.coteam.ai
@assistant-ui:registry=https://npm.coteam.ai
@tool-ui:registry=https://npm.coteam.ai
https://registry.npmjs.org/